@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900);
.promo {
	background-color: var(--color-main);

	&__content {
		position: relative;
		height: 100dvh;
		display: grid;
		gap: rem(30);
	}

	&__slider {
		position: absolute;
		overflow: hidden;
		width: 100%;
		height: 100%;
		z-index: 0;
		&::after {
			content: '';
			position: absolute;
			width: 100%;
			display: block;
			z-index: 1;
			height: 100%;
			box-shadow: inset 40px 0 40px -10px var(--color-main), inset -40px 0 40px -10px var(--color-main);
		}
	}

	&__slide {
		border-radius: rem(20);
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: opacity 1s ease-in-out;
		img {
			object-fit: cover;
			object-position: center;
			width: 100%;
			height: 100%;
		}

		&-active {
			animation: bgScaler 10s linear infinite;
			opacity: 1;
			z-index: 1;
		}
	}

	&__countdown {
		align-self: flex-start;
		margin-top: rem(50);
	}

	&__arrow {
		padding: rem(15);
		align-self: flex-end;
		justify-self: center;
		margin-bottom: rem(50);

		svg {
			transition: fill 0.3s ease-in-out;
			width: rem(68);
			height: rem(68);
			fill: var(--color-secondary-60);
			animation: bounce 2s linear infinite;
			&:focus,
			&:active {
				svg {
					fill: var(--color-accent);
				}
			}
		}
		@media (hover: hover) {
			&:hover {
				svg {
					fill: var(--color-accent);
				}
			}
		}
	}
}
.banner {
	position: fixed;
	cursor: pointer;
	font-family: Roboto;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background-color: var(--color-main);
	color: var(--color-secondary);
	padding: rem(10);
	white-space: nowrap;
	display: flex;
	align-items: center;
	gap: rem(10);
	&__icon {
		position: relative;
		border: 1px solid var(--color-secondary);
		width: rem(20);
		height: rem(20);
		text-align: center;
		border-radius: 50%;
		background-color: var(--color-main);
		z-index: 101;
	}
	&__text {
		overflow: hidden;
		width: 100%;
	}
	& span {
		display: inline-block;
		padding-left: 100%;
		animation: marquee 10s linear infinite;
	}
}

@keyframes bounce {
	0%,
	100% {
		transform: translateY(-25%);
	}
	50% {
		transform: translateY(25%);
	}
}

@keyframes bgScaler {
	0%,
	100% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes marquee {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}
