.greeting {
	background-image: url('../images/slider/bg-slider.jpeg');
	background-position: center;
	overflow: hidden;
	background-size: cover;
	position: relative;
	padding: rem(25) 0;
	min-height: 100lvh;
	@media screen and (width >= rem(768)) {
		padding: rem(50) 0;
	}

	&__content {
		margin: 0 auto;
		overflow: hidden;
	}
	&__slider {
		margin: 0 auto;
		margin-top: rem(50);

		.slider {
			height: clamp(300px, 60vw, 600px);
			width: clamp(300px, 60vw, 600px);
			@media screen and (width >= rem(768)) {
			}

			&__slide {
				overflow: hidden;
				border-radius: rem(20);

				img {
					display: block;
					object-fit: cover;
					object-position: center;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
	&__snowman {
		position: absolute;
		bottom: rem(-100);
		left: 0;
		width: 100%;
		max-width: rem(590);
	}
	&__title {
		font: 400 clamp(rem(36), 1.6226rem + 2.6415vw, rem(64)) / 1.25 var(--font-vibes), sans-serif;
		color: var(--color-main);
		text-align: center;
	}
	&__arrow {
		display: block;
		text-align: center;
	}
}
