@import 'tailwindcss';

:root {
  --background: #e8e4dc;
  --foreground: #103e3f;
  --color-main: #103e3f;
  --color-secondary: rgb(255, 255, 255);
  --color-secondary-60: rgba(255, 255, 255, 0.6);
  --color-accent: #8e1a18;
  --font-montserrat: 'Montserrat sans-serif';
  --font-segoe: 'Segoe';
  --font-vibes: 'Vibes';
  --font-digital: 'Digital';
  --font-digitalMono: 'DigitalMono';
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-main: var(--color-main);
  --color-secondary: var(--color-secondary);
  --color-secondary-60: var(--color-secondary-60);
  --color-accent: var(--color-accent);
  --font-sans: var(--font-montserrat);
  --font-vibes: var(--font-vibes);
  --font-montserrat: var(--font-montserrat);
  --font-segoe: var(--font-segoe);
  --font-digital: var(--font-digital);
  --font-digitalMono: var(--font-digitalMono);
}

@theme {
  --animate-bgScaler: bgScaler 7s ease-in-out infinite;
  --animate-bounceMarker: bounceMarker 2s ease-in-out infinite;
  @keyframes bounceMarker {
    0%,
    100% {
      transform: translate(-50%, -50%);
    }
    50% {
      transform: translate(-50%, -150%);
    }
  }

  @keyframes bgScaler {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
}

body {
  background: var(--background);
  color: var(--color-main);
  font-family: var(--font-montserrat);
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
