@import 'tailwindcss';

:root {
  --background: #e8e4dc;
  --foreground: #103e3f;
  --color-main: #103e3f;
  --color-secondary: rgb(255, 255, 255);
  --color-secondary-60: rgba(255, 255, 255, 0.6);
  --color-accent: #8e1a18;
  --font-montserrat: 'Montserrat sans-serif';
  --font-segoe: 'Segoe';
  --font-vibes: 'Vibes';
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
}

@theme {
  --animate-bgScaler: bgScaler 7s ease-in-out infinite;
  @keyframes bgScaler {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #103e3f;
    --foreground: #e8e4dc;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
