:root {
	--color-main: #103e3f;
	--color-secondary: rgb(255, 255, 255);
	--color-secondary-60: rgba(255, 255, 255, 0.6);
	--color-accent: #8e1a18;
	--color-bg: #e8e4dc;
	--font-montserrat: 'Montserrat sans-serif';
	--font-vibes: 'Vibes';
}
